body {
    padding-top: 70px;
    background-color: #cce5ff !important;
}

.home-page-title {

    width: 500px;
    height: 255px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}

.home-page-news {
    background-color: #f8f9fa;
    border-radius: 5px;
    width: 100%;
    height: 100% !important;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 6px;

}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #ccd5e4;
}

.home-page-news-title {
    padding: 15px;
    font-size: 24px;
    font-weight: lighter;
}

.home-page-news-item {
    margin: 10px;
    padding: 5px;
}

.home-page-news-item-title {
    text-align: center;
    font-size: 18px;
}

.home-page-news-item-text {
    text-align: left;
    font-size: 16px;
}

.home-page-news-item-date {
    text-align: right;
    font-size: 16px;
}

.news-block {
    height: 550px;
}

.login-form {
    margin-top: 255px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
}