body {
    padding-top: 70px;
    background-color: #cce5ff !important;
    height: 100%;
}

.home-page-title {

    width: 500px;
    height: 255px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}

.home-page-news {
    background-color: #f8f9fa;
    border-radius: 5px;
    width: 100%;
    height: 100% !important;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 6px;

}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #ccd5e4;
}

.home-page-news-title {
    padding: 15px;
    font-size: 24px;
    font-weight: lighter;
}

.home-page-news-item {
    margin: 10px;
    padding: 5px;
}

.home-page-news-item-title {
    text-align: center;
    font-size: 18px;
}

.home-page-news-item-text {
    text-align: left;
    font-size: 16px;
}

.home-page-news-item-date {
    text-align: right;
    font-size: 16px;
}

.news-block {
    height: 550px;
}

.login-form {
    padding: 18px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.user-menu {
    margin-top:10px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    text-align: center;
}

.user-info {
    padding: 10px;
}

.data-table {
    background-color: #fff;
}

.content-data {
    padding-bottom: 100px;
}
.id-column {
    display: none;
}

.paging {
    margin: 0 auto;

}
.pagination li {
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 17px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.pagination li a {
    text-decoration: none;
}
.pagination .active {
    color: #fff;
    background-color: #007bff;
}

.pagination .active a{
    color: #fff;
}

.teacher-button {
    height: 37px !important;
    margin-top: 33px;
}
.delete-user {
    margin-left: 25px;
}

.error {
    margin-top: 20px;
}
